@import '/index';

#test {
  content: 'env#test';

  position: fixed;
  z-index: 999;
  top: calc(var(--space-gutter) + var(--ui-gap));
  right: calc(var(--space-gutter) + var(--ui-gap));

  padding: 0.5em 0.7em;
  pointer-events: none;

  font-family: var(--font-family-mono);
  font-size: var(--ui-font-size);

  background: #597fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0 0 0 / 10%);
}
