@import '/index';

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100%;

  @include mobile {
    flex-direction: column;
  }
}

h1 {
  @include no-select;

  padding: 0.2em 0.4em;
  overflow: hidden;
  cursor: pointer;

  font-size: 10rem;
  color: black;

  background: white;
  border-radius: var(--ui-border-radius);
}

span {
  display: inline-block;
}
