main#pads {
  --gutter: 2rem;

  --pad-size: var(--pad-height);
  --pad-width: calc(50vw - var(--gutter) * 1.5);
  --pad-height: calc(100vh - var(--gutter) * 2);
  --pad-color-background: black;
  --pad-dots-color: rgba(255 255 255 / 15%);

  --ui-border: 1px solid var(--pad-dots-color);
  --ui-border-radius: 1rem;

  display: flex;
  justify-content: center;
  gap: var(--gutter);
  padding: var(--gutter);

  @supports (height: 100svh) {
    --pad-height: calc(100svh - var(--gutter) * 2);
  }

  // Hide warnings on production
  body:not([data-env='development']) & ~ [class^='ui-toast-container-'] [data-tone='warning'] { display: none; }
}
