main#text {
  --gutter: 2rem;
  --artboard-height: calc(100vh - var(--gutter) * 2);

  --color-gray: #262626;
  --ui-border: 1px solid var(--color-gray);
  --ui-border-radius: 1rem;

  display: flex;
  gap: var(--gutter);
  padding: var(--gutter);
  font-variant-numeric: tabular-nums;

  .paroles {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: var(--artboard-height);
    overflow: hidden;

    &__current {
      --ui-color-accent: #54db87;
      --ui-color-text: black;
      --ui-color-accent-contrast: black;

      width: 100%;
      margin-bottom: var(--gutter);
    }

    &__container {
      @include invisible-scroll(y);
      border: var(--ui-border);
      border-radius: var(--ui-border-radius);
      flex: 1;
    }
  }

  .paroles__current, .parole {
    --ui-font-size: 1.8rem;
    --ui-icon-size: 2.4rem;
    --ui-height: 4.2rem;
    --ui-line-height: 125%;
  }

  .parole {
    @include easing(transform, var(--easing), var(--easing-ease-back));

    --ui-color-accent: var(--color-gray);
    --ui-border-radius: 0;
    --offx: calc(var(--ui-icon-size) + 0.7rem);

    display: flex;
    width: calc(100% + var(--offx));
    overflow: hidden;

    white-space: nowrap;

    border: 0;
    border-top: var(--ui-border);
    border-bottom: var(--ui-border);

    &:not(.is-active) {
      transform: translateX(calc(-1 * var(--offx)));
    }

    &:first-child {
      border-top: 0;
    }

    label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .poster {
    --poster-height: var(--artboard-height);
    --poster-width: calc(var(--poster-height) * (50 / 70));

    border: var(--ui-border);
    border-radius: var(--ui-border-radius);

    &__word {
      font-family: milling, sans-serif;
      color: var(--color-white);
      background: none;
      outline: 0;

      &::before {
        content: '';
        position: absolute;
        inset: -1rem;
        outline: var(--ui-border);
      }
    }
  }
}
