html, body {
  @include no-select;
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-modify: none;
  touch-action: manipulation;
  overscroll-behavior: none;

  // Support for overscroll-behavior on Safari iOS < 16
  /* stylelint-disable order/properties-order, at-rule-empty-line-before */
  position: fixed;
  overflow: hidden;
  @supports (overscroll-behavior: none) {
    position: static;
    overflow: auto;
  }
  /* stylelint-enable order/properties-order, at-rule-empty-line-before */
}

body {
  overflow: scroll;

  font-family: var(--ui-font-family);
  font-size: var(--ui-font-size);
  line-height: var(--ui-line-height);
  color: var(--color-text);

  background: var(--color-background);
}

main {
  isolation: isolate;
}
