html, body {
  @include no-select;
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-modify: none;
  touch-action: manipulation;
  overscroll-behavior: none;
}

body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text);
  background: var(--color-background);

  @include landscape {
    // Support for overscroll-behavior on Safari iOS < 16
    overflow: hidden;
  }
}

main {
  isolation: isolate;
}

.cell, .word {
  -webkit-tap-highlight-color: rgba(255 255 255 / 0%);
}

.word {
  @include no-select;
  cursor: grab;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(255 255 255 / 0%);
}
