@font-face {
  font-family: epilogue;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/epilogue-wght.woff2') format('woff2');
}

@font-face {
  font-family: tiny;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/TINY5x3GX.ttf') format('TrueType');
}

@font-face {
  font-family: fraunces;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Fraunces--latin_basic.woff2') format('woff2');
}

@font-face {
  font-family: tiltneon;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/TiltNeon.ttf') format('TrueType');
}




