@font-face {
  font-family: epilogue;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/epilogue-wght.woff2') format('woff2');
}

@font-face {
  font-family: tiny;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/TINY5x3GX.ttf') format('TrueType');
}

@font-face {
  font-family: fraunces;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Fraunces--latin_basic.woff2') format('woff2');
}

@font-face {
  font-family: tiltneon;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/TiltNeon.ttf') format('TrueType');
}

@font-face {
  font-family: blinker;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Blinker_variable_font.ttf') format('opentype');
}

@font-face {
  font-family: tiltprism;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/TiltPrism.ttf') format('TrueType');
}

@font-face {
  font-family: tiltwarp;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/TiltWarp.ttf') format('TrueType');
}

@font-face {
  font-family: sixtyfour;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Sixtyfour.ttf') format('TrueType');
}

@font-face {
  font-family: gluten;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/GlutenVariable.woff2') format('woff2');
}
