@font-face {
  font-family: epilogue;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/epilogue-wght.woff2') format('woff2');
}

@font-face {
  font-family: tiny;
  font-display: auto;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/TINY5x3-140.woff2') format('woff2');
}
