.app {
  --ui-border: 1px solid var(--ui-color-text);
  --ui-toolbar-hr: 1px dashed var(--ui-color-text);

  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  gap: var(--space-gutter);
  padding: var(--space-gutter);
  overflow: scroll;

  @include portrait {
    position: relative;
  }

  &__artboard {
    flex: 1;
    display: flex;
    gap: var(--space-gutter);

    @include portrait {
      flex-direction: column;
    }
  }

  &__toolbar {
    justify-content: space-between;
    overflow: visible;

    @include portrait {
      width: 100%;

      .button--prev-blueprint svg,
      .button--next-blueprint svg {
        transform: rotate(-90deg);
      }
    }

    @include landscape {
      &, [class^='ui-toolbar-'] {
        flex-direction: column;

        hr {
          border: 0;
          border-top: var(--ui-toolbar-hr);
        }

        &:not(.is-compact) > hr + * {
          margin-top: var(--ui-gap);
          margin-left: 0;
        }

        &.is-compact > *:not(:first-child) {
          border: 0;
          border-top: var(--ui-border);
        }
      }
    }
  }

  &__poster-container {
    flex-grow: 1;
    flex-shrink: 0;

    width: var(--poster-width);
    height: var(--poster-height);
    max-width: var(--poster-width);
    max-height: var(--poster-height);
    min-width: var(--poster-width);
    min-height: var(--poster-height);
    overflow: visible;

    @include portrait {
      width: 100%;
      height: calc((100vw - var(--space-gutter) * 2) / (50 / 70));
      max-width: unset;
      min-width: unset;
    }
  }

  &__words {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-gutter);
  }

  &__words-container {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: var(--ui-gap);
    min-height: calc(var(--ui-height) * 3 + var(--ui-gap) * 2);
    margin-bottom: auto;

    border-radius: var(--ui-border-radius);

    &:empty {
      border: 1px dashed;
    }
  }

  &__words-toolbar {
    order: -1;
    justify-content: space-between;
    width: 100%;
  }

  &__words-container .word,
  & > .word.draggable-mirror {
    height: var(--ui-height) !important;
    padding: var(--ui-padding-container) !important;

    font-family: var(--ui-font-family) !important;
    font-size: var(--ui-icon-size) !important;
    line-height: 90% !important;
    letter-spacing: normal !important;
    color: black !important;

    background: white;
    border-radius: var(--rounded);
    transform: none !important;

    .app.is-recording & {
      pointer-events: none;
      color: var(--ui-color-text) !important;
      background: var(--ui-color-background);
      outline: var(--ui-outline);
      opacity: var(--ui-disabled-opacity);
    }

    &.draggable-source--is-dragging,
    &.draggable-mirror {
      z-index: 9;
      cursor: grabbing;
      background: var(--ui-color-accent);
      transform: translate3d(calc(var(--x) - 50%), calc(var(--y) - 50%), 0) !important;
      box-shadow: 0 0 10px rgba(0 0 0 / 10%);
    }

    &.draggable-source--is-dragging {
      cursor: grabbing;
      opacity: 0.2;
    }
  }

  // Style when dropping a word to an actionable button
  .button--add-word:has(.word),
  .button--remove-word:has(.word) {
    @include easing(transform, var(--easing), true);

    svg {
      @include easing(transform);
      transform: scale(1.2) rotate(2deg);
    }

    .word {
      display: none;
    }
  }

  .button--record svg path {
    fill: #fe6766;
    stroke: #fe6766;
  }

  .button--record.is-waiting svg {
    visibility: hidden;
  }

  &.is-recording .button--record svg {
    animation: fade-out 600ms ease-in-out alternate infinite;
  }
}
