.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__toolbar {
    --ui-color-background: transparent;

    width: 100%;
    padding: var(--space-gutter);
    padding-bottom: 0;

    .flex,
    [class^='ui-select-'] {
      flex: 1;
    }
  }

  &__artboard {
    display: flex;
    gap: var(--space-gutter);
    max-width: var(--artboard-width);
    padding: var(--space-gutter);
    overflow: hidden;

    @include mobile {
      flex-direction: column;
    }
  }

  .poster {
    flex: 1;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--space-gutter);

    @include wide {
      --pad-size: calc(var(--artboard-height) / 2 - var(--space-gutter) * 3);
    }

    @include mobile {
      flex: 1;
    }
  }

  &__pads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-gutter);

    @include mobile {
      flex-direction: row;
    }
  }

  &__footer {
    margin-top: auto;
    font-family: var(--ui-font-mono);
    font-size: var(--font-size-small);

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0 3ch;

      @include narrow {
        flex-direction: column;
        align-items: flex-end;
      }

      @include mobile {
        flex-direction: row;
      }
    }

    a {
      @include easing(opacity);
      opacity: 0.4;

      &:hover { opacity: 1; }
    }
  }

}
