.poster {
  --poster-vw: 1%;

  position: relative;

  width: var(--poster-width);
  height: var(--poster-height);
  max-width: var(--poster-width);
  max-height: var(--poster-height);
  min-width: var(--poster-width);
  min-height: var(--poster-height);
  overflow: hidden;

  border-radius: var(--border-radius);

  .cables-patch,
  &__words {
    position: absolute;
    inset: 0;
  }

  &__word {
    @include debug(0, blue);
    position: absolute;

    display: inline-block;
    margin-right: 0.25em; // Simulate a space between words
    cursor: pointer;

    font-family: var(--poster-font-family);
    font-size: calc(var(--poster-font-size) * var(--poster-vw) * 0.78);
    line-height: 0.8;
    color: transparent;
  }

  &__words.has-debug &__word {
    color: rgba(255 0 255);
    background: rgba(255 0 255 / 10%);
    outline: 1px solid rgb(255 0 255);
  }

  &.has-pointer-down &__words,
  &.is-playing &__words {
    pointer-events: none;
  }

  &__pointer--debug {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(var(--pointer-radius) * 2);
    height: calc(var(--pointer-radius) * 2);

    background: rgba(255 0 0 / 50%);
    border-radius: 100%;
    outline: 2px solid red;
    outline-offset: 2rem;
    transform:
      translateX(calc(var(--pointer-x) - 50%))
      translateY(calc(var(--pointer-y) - 50%));
  }
}
