.poster:local(.poster) {
  --wght: 400;
  letter-spacing: 0;

  font-family: tiny;
  color: #000;
  background: #FFF;

  .banner {
    overflow: hidden;

    .cell {
      padding-bottom: 0;
      color: #000;
      background: #FFF;
    }
  }
}
