.poster:local(.poster) {
  --wght: 900; // 100 > 900
  --ital: 0; // -1 > 1
  --poster-base-font-size: 5rem; 
  color: #fff;

  letter-spacing: -10rem;
  font-family: gluten;



  //background-color: #000000;
  //color: #ffffff;
  //background-color: #10DB8B;
  background: radial-gradient(#f425ff, #10DB8B);

}
