.poster:local(.poster) {
  --wght: 400;
  letter-spacing: 0;

  font-family: epilogue;
  color: #fe6766;
  background: #7f6ddf;

  .banner {
    overflow: hidden;

    .cell {
      padding-bottom: 0;
      color: #7f6ddf;
      background: #fe6766;
    }
  }
}
