.poster:local(.poster) {
  --wght: 200;
  --ital: 45;
  --poster-base-font-size: 3rem; 
  text-align: center;
  font-family: gluten, "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "EmojiOne Color", "Android Emoji", sans-serif;
}
