.poster:local(.poster) {
  --wght: 1000;
  --poster-base-font-size: 3rem; 
  font-family: gluten, "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "EmojiOne Color", "Android Emoji", sans-serif;
}
