/*
  stylelint-disable
    color-function-notation,
    alpha-value-notation,
    font-family-no-missing-generic-family-keyword
*/
.poster:local(.poster) {
  --wght: 1000;
  --poster-base-font-size: 4.3rem;

  font-family: fraunces;
  color: white;
  background: rgb(77, 158, 253);

  .char {
    filter: blur(var(--blur, 0));
  }

  .gradient {
    background: linear-gradient(
      rgba(233, 200, 80, 0),
      rgba(233, 200, 80, 0.4) 50%,
      rgba(233, 200, 80, 0.7),
      rgba(233, 200, 80, 0)
    );
  }

  .gradient ~ .row {
    --wght: 600;
    --poster-base-font-size: 3.8rem;
    font-family: epilogue;
  }
}
