.poster:local(.poster) {
  --wght: 50;
  --poster-base-font-size: 3rem; 
  font-family: tiny, "Twemoji Mozilla", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "EmojiOne Color", "Android Emoji", sans-serif;


/*
 .char{
    font-variation-settings: 'SCAN' var(--scan) !important;
 } 
*/

}
