@import '@tooooools/ui/style';
@import '/style/reset';
@import '/style/animations';
@import '/style/fonts';
@import '/style/base';

:root {
  // Global
  --color-text: white;
  --color-background: #1e1e1e;
  --color-background-rgb: 30 30 30;
  --font-size: 1.5rem;
  --font-size-small: 1.2rem;

  --body-font-family: milling, system-ui, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  --code-font-family: ibm-plex-mono, monospace;

  --space-gutter: 1.2rem;
  --border-radius: 0.5rem;

  // Animation
  --easing: 300ms;
  --easing-fast: 120ms;
  --easing-slow: 600ms;
  --easing-ease-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --easing-ease-smooth: cubic-bezier(0.25, 0.1, 0.25, 1);

  // @tooooools/ui
  --ui-height: 3.8rem;
  --ui-font-size: var(--font-size);
  --ui-line-height: 1.1;
  --ui-padding-container: 0.9rem 0.8rem 0.8rem;
  --ui-padding-content: var(--space-gutter);
  --ui-icon-size: 2.0rem;
  --ui-border-radius: var(--border-radius);
  --ui-border: 1px solid;
  --ui-color-background: var(--color-background);
  --ui-color-text: var(--color-text);
  --ui-color-accent: #968ae9;
  --ui-modal-height: 80vh;
  --ui-modal-width: 40ch;
  --ui-button-animation: button 120ms ease-out;
  --ui-toast-color-neutral: #CACACA;
  --ui-toast-color-warning: #fe8d59;
  --ui-toast-color-error: #ff5449;

  @supports (height: 100svh) {
    --artboard-height: calc(100svh - var(--ui-height) - var(--space-gutter));
  }

  @include narrow {
    --poster-height: calc(0.75 * var(--artboard-height) - var(--space-gutter) * 2);
  }

  @include mobile {
    --poster-height: calc(0.75 * var(--artboard-height) - var(--space-gutter) * 2);
    --pad-size: calc(0.25 * var(--poster-height) - var(--space-gutter) - var(--font-size-small));
  }
}

[class^='ui-toolbar-'] {
  overflow: visible;
}

[class^='ui-toast-'] {
  --ui-color-text: black;
  max-width: 100%;
  min-width: 20rem;
}

[class^='ui-modal-'] {
  --ui-border: 0;
}

body > pre {
  padding: 2rem;
}
